
<nav class="navbar navbar-dark bg-primary justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item mr-4">
          <h1>Mongo Scraper App</h1>
      </li>
    <li class="nav-item">
      <h2><button type="button" class="btn-lg btn-danger" id="scrape">Scrape new articles</button></h2>
  </li>
  <li class="nav-item ml-4">
      <a href="/saved"><button type="button" class="btn-lg btn-success">Saved Articles</button></a>
  </li>
  </ul>
  </div>
</nav>
  <div class="container-fluid arcticle-container">
    <div class="bg_image">

    </div>
    
  {{#each articles }}
  <div class="card m-4">
<div class="card-header">
  <div class="row">
    <div class="col-lg-9">
  <a class="link" href="{{link}}"><h4 class="display-4">{{title}} </a></h4>
  </div>
  <div class="col-lg-3">
 <button type="button" id ="save" class="btn-lg btn-success m-4" data-id={{_id}}>Save note</button><button type="button" id="delete" class="btn-lg btn-danger" data-id={{_id}} >Delete note</button>
 </div>
 </div>
</div>
  <div class="card-body">
 <p class="lead">{{content}}</p>
   </div>
</div>
</div>
{{/each}}

